<h1>Email Confirmation</h1>

<h3>@ViewBag.Message</h3>

@{
    ViewBag.Title = "Confirm Email";
}

<a asp-action= "Login" asp-controllr ="Account">Login</a>
<a asp-action= "Register" asp-controllr ="Account">Register</a>