@model BookSharing.ViewModels.EditBookViewModel

@{
    ViewBag.Title = "Edit Role";
}

<h1>Edit Role</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="EditBook" asp-controller="Book" method="POST">
            <input type="hidden" asp-for="Id">
            <div asp-validation-summary="All" ></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="Index" asp-controller="Role" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}